@import "../../scss/mixin.scss";
@import "../../scss/variables.scss";

.content {
  position: relative;
  background: #fff;
}
.content + .content {
  margin-top: 11px;
}

.event_area {
  @include clear;
  background: #fff;
  padding: 20px 18px 0;
  position: relative;
  .icon {
    width: 24px;
    height: 24px;
    margin: 9px 5px 0 0;
    float: left;
  }
  .txt_area {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding-left: 8px;

    .txt {
      position: relative;
      border: 1px solid #f0f3f4;
      padding: 11px 44px 10px 15px;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: -0.3px;
      border-radius: 5px;
      color: #333;
      em {
        font-weight: bold;
      }
    }
    .icon_arrow {
      width: 12px;
      height: 7px;
      fill: #c9c9c9;
      position: absolute;
      right: 16px;
      top: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 1px;
      border-right: 8px solid #eef1f2;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 2px;
      border-right: 7px solid #fff;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
  .txt_area.active {
    .txt {
      border-radius: 5px 5px 0 0;
    }
    .txt_opened {
      background: #f8fafb;
      padding: 10px 13px 12px;
      border: 1px solid #f0f3f4;
      border-radius: 0 0 5px 5px;
      border-top: 0;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: -0.3px;
    }
  }
}

.notice_area {
  margin-top: 34px;
  text-align: center;
  .inner {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .inner::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffeeed;
    border-radius: 6.5px;
    height: 13px;
  }
  .txt {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #242424;
    line-height: 2.1rem;
    letter-spacing: -0.3px;
  }
  .label_num {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    background: #333;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-right: 6px;
  }
  em {
    font-weight: bold;
  }
  %icon {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 7px;
  }
  .icon_start {
    @extend %icon;
    margin-right: 6px;
  }
  .icon_end {
    @extend %icon;
    margin-left: 6px;
  }
}

.title_area {
  padding: 34px 18px 0;
  position: relative;
  .tit {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: $font-nanum-square-bold;
    font-weight: bold;
  }
  // .tit {
  //   display: inline-block;
  //   vertical-align: top;
  //   font-size: 1.9rem;
  //   line-height: 2.6rem;
  //   letter-spacing: -0.3px;
  //   position: relative;
  // }
  .tit::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 13px;
    left: -5px;
    right: -5px;
    border-radius: 8px;
    opacity: 0.15;
    background-image: linear-gradient(to left, #4bcdcc, #01d760);
  }
  .inner {
    position: relative;
    color: #333;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: -0.3px;
  }
  .sub_tit {
    position: absolute;
    right: 18px;
    bottom: 0;
    line-height: 1.7rem;
    color: #666;
    font-size: 1.4rem;
    letter-spacing: -0.3px;
    .icon {
      width: 14px;
      height: 16px;
      margin: 0 5px -2px 0;
    }
  }
}
